.subPage{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: blue;
}

.contenedorAdd{
    width: 80vw;
    height: 6vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem 0;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.subPageBrand{
    width: 80vw;
    height: 75vh;
    border-radius: 10px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.subPageBrand-header{
    display: flex;
    height: 20%;
    width: 100%;
    /* background-color: orangered; */
    /* border-radius: 10px 10px 0 0; */
    justify-content: space-evenly;
    align-items: center; 
}

.subPageBrand-items{
    background-color: yellow;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    flex-direction: column;
    gap: 7px;
    padding: 7px 0;
}

.itemBrandComponent{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    width: 100%;
    background-color: white;
}
/*
.add:hover{
    background-color: green;
}

.edit:hover{
    background: rgb(253,216,53);
    background: linear-gradient(180deg, rgba(253,216,53,1) 0%, rgba(249,168,37,1) 100%);    
}

.del:hover{
    background: rgb(230,74,25);
    background: linear-gradient(180deg, rgba(230,74,25,1) 0%, rgba(255,112,67,1) 100%);
}

.contenedorAdd{
    width: 80vw;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    
}

.formAddBrand{
    background: rgb(4,9,63);
    background: linear-gradient(180deg, rgba(4,9,63,1) 0%, rgba(4,29,111,1) 100%);
} */