@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  
}

*,
*::before,
*::after {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

img,
iframe {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input, textarea, button {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

input, textarea, button, select {
  font-family: inherit;
}

.label{
    font-weight: bolder;
}

.input{
    height: 30px;
    width: 100%;
    border-radius: 5px;
}
.input::placeholder{
  text-align: center;
}

.btn{
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bolder;
}

.btn:hover{
    transform: scale(1.1);
    filter: brightness(1.1);
}