.pageMenu{
    /* background-color: blue; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.options{
    width: 40%;
    height: 40%;
    display: grid;
    place-content: center;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    transition: transform 1s ease;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    color: #fff;
}

.options:hover{
    transform: scale(1.05);
    filter: brightness(1);
}

.compras{
    background: rgb(230,74,25);
    background: linear-gradient(180deg, rgba(230,74,25,1) 0%, rgba(255,112,67,1) 100%);
}

.stock{
    background: rgb(13,71,161);
    background: linear-gradient(180deg, rgba(13,71,161,1) 0%, rgba(21,101,192,1) 100%);
}

.ventas{
    background: rgb(46,125,50);
    background: linear-gradient(180deg, rgba(46,125,50,1) 0%, rgba(67,160,71,1) 100%);
}

.reportes{
    background: rgb(253,216,53);
    background: linear-gradient(180deg, rgba(253,216,53,1) 0%, rgba(249,168,37,1) 100%);
}
